<h1>Вход</h1>

<%= form_tag sessions_path do %>  
  <div class="field">
          <%= label_tag :email, 'Email' %><br />
          <%= text_field_tag :email, params[:email] %>
  
  <div class="field">
          <%= label_tag :password, 'Пароль' %><br />
          <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :remember_me, 'Запомнить меня' %>
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
  </div>  
  <div class="actions"><%= submit_tag "Войти" %></div>
  <p><%= link_to "Забыли пароль?", new_password_reset_path %></p>
<% end %>