<h1>Способы доставки</h1>

<table id="delivery_methods">
  <thead>
    <tr>
      <th>Название</td>
      <th colspan="3">Действия</td>
    </tr>
  </thead>
  <tbody>
    <% @delivery_methods.each do |dm| %>
      <%= content_tag_for(:tr, dm) do %>
        <td><%= dm.title %></td>
        <td><%= link_to 'Просмотр', admin_delivery_method_path(dm) %></td>
        <td><%= link_to 'Изменить', edit_admin_delivery_method_path(dm) %></td>
        <td><%= link_to 'Удалить', admin_delivery_method_path(dm), :method => :delete, :confirm => 'Вы уверены?' %></td>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'Добавить', new_admin_delivery_method_path %>